---
import Default from "../../../layouts/Default.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import { formatDate } from "../../../lib/format";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Default title={`${post.data.title} | Blog`}>
  <div class="flex flex-col items-center">
    <div class="flex flex-col gap-4 w-full max-w-[64rem]">
      <div
        class={[
          "py-3 border-b-4 border-dotted flex flex-row items-center",
          post.data.hidden ? "border-b-lor-red" : "border-b-lor-teal",
        ].join(" ")}
      >
        <div class="flex flex-col gap-2">
          <span class="text-sm flex flex-row flex-wrap items-center gap-4">
            <span class="italic">
              {formatDate(post.data.published, "long")}
            </span>
            {
              post.data.hidden && (
                <span class="select-none text-lor-red border font-bold w-fit py-2 px-4 rounded-full">
                  Hidden Post
                </span>
              )
            }
          </span>
          <span class="text-4xl font-extrabold">
            {post.data.title}
          </span>
          <p>{post.data.summary}</p>
          {
            post.data.authors.length > 0 && (
              <div class="flex flex-row flex-wrap items-center gap-2">
                by
                {post.data.authors.map((author) => (
                  <a
                    class="py-2 px-4 rounded-full bg-lor-bg-2 font-extrabold border"
                    href={author.url}
                  >
                    {author.name}
                  </a>
                ))}
              </div>
            )
          }
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <Content />
      </div>
    </div>
  </div>
</Default>
